{% extends "core/base.html" %}
{% load static widget_tweaks i18n %}
{% block page-content %}
    {{ block.super }}
    <!--begin::Row  vindo do PO-->
    <br>
    <br>
    <br>
    <br>
    <div class="row g-7">
        <!--begin::Col-->
        <div class="col-xxl-5">
            <!--begin::Card-->
            <div class="card border-0 shadow-none h-lg-100" style="background-color: #A838FF">
                <!--begin::Card body-->
                <div class="card-body d-flex flex-column flex-center pb-0 pt-15">
                    <!--begin::Wrapper-->
                    <div class="px-10 mb-10">
                        <!--begin::Heading-->
                        <h3 class="text-white mb-2 fw-bolder ttext-center text-uppercase mb-6"> Guia da Organização</h3>
                        <!--end::Heading-->
                        <!--begin::List-->
                        <div class="mb-7">
                            <!--begin::Item-->
                            <div class="d-flex align-items-center mb-2">
                                <i class="ki-duotone ki-black-right fs-4 text-white opacity-75 me-3"></i>
                                <span class="text-white opacity-75">Quem Somos</span>
                            </div>
                            <!--end::Item-->
                            <!--begin::Item-->
                            <div class="d-flex align-items-center mb-2">
                                <i class="ki-duotone ki-black-right fs-4 text-white opacity-75 me-3"></i>
                                <span class="text-white opacity-75">Lojas</span>
                            </div>
                            <!--end::Item-->
                            <!--begin::Item-->
                            <div class="d-flex align-items-center mb-2">
                                <i class="ki-duotone ki-black-right fs-4 text-white opacity-75 me-3"></i>
                                <span class="text-white opacity-75">Doação Organizada</span>
                            </div>
                            <!--end::Item-->
                        </div>
                        <!--end::List-->
                        <!--begin::Link-->
                        <a href="dashboard.html" class="btn btn-hover-rise text-white bg-white bg-opacity-10 text-uppercase fs-7 fw-bold">Faça seu login</a>
                        <!--end::Link-->
                    </div>
                    <!--end::Wrapper-->
                    <!--begin::Illustrations-->
                    <img class="mw-100 h-225px mx-auto mb-lg-n18" src="{% static 'metronic/media/illustrations/sigma-1/12.png' %}" />
                    <!--end::Illustrations-->
                </div>
                <!--end::Card body-->
            </div>
            <!--end::Card-->
        </div>
        <!--end::Col-->
        <!--begin::Col-->
        <div class="col-xxl-7">
            <!--begin::Row-->
            <div class="row g-lg-7">
                <!--begin::Col-->
                <div class="col-sm-6">
                    <!--begin::Card-->
                    <a href="#" data-bs-toggle="modal" data-bs-target="#kt_modal_create_project" class="card border-0 shadow-none min-h-200px mb-7" style="background-color: #F9666E">
                        <!--begin::Card body-->
                        <div class="card-body d-flex flex-column flex-center text-center">
                            <!--begin::Illustrations-->
                            <img class="mw-100 h-100px mb-7 mx-auto" src="{% static 'metronic/media/illustrations/sigma-1/4.png' %}" />
                            <!--end::Illustrations-->
                            <!--begin::Heading-->
                            <h4 class="text-white fw-bold text-uppercase">Guias Práticos</h4>
                            <!--end::Heading-->
                        </div>
                        <!--end::Card body-->
                    </a>
                    <!--end::Card-->
                </div>
                <!--end::Col-->
                <!--begin::Col-->
                <div class="col-sm-6">
                    <!--begin::Card-->
                    <a href="#" data-bs-toggle="modal" data-bs-target="#kt_modal_create_account" class="card border-0 shadow-none min-h-200px mb-7" style="background-color: #35D29A">
                        <!--begin::Card body-->
                        <div class="card-body d-flex flex-column flex-center text-center">
                            <!--begin::Illustrations-->
                            <img class="mw-100 h-100px mb-7 mx-auto" src="{% static 'metronic/media/illustrations/sigma-1/5.png' %}" />
                            <!--end::Illustrations-->
                            <!--begin::Heading-->
                            <h4 class="text-white fw-bold text-uppercase">Cursos e Eventos</h4>
                            <!--end::Heading-->
                        </div>
                        <!--end::Card body-->
                    </a>
                    <!--end::Card-->
                </div>
                <!--end::Col-->
            </div>
            <!--end::Row-->
            <!--begin::Card-->
            <div class="card border-0 shadow-none min-h-200px" style="background-color: #D5D83D">
                <!--begin::Card body-->
                <div class="card-body d-flex flex-center flex-wrap">
                    <!--begin::Illustrations-->
                    <img class="mw-100 h-200px me-4 mb-5 mb-lg-0" src="{% static 'metronic/media/illustrations/sigma-1/11.png' %}" />
                    <!--end::Illustrations-->
                    <!--begin::Wrapper-->
                    <div class="d-flex flex-column align-items-center align-items-md-start flex-grow-1" data-bs-theme="light">
                        <!--begin::Heading-->
                        <h3 class="text-gray-900 fw-bolder text-uppercase mb-5">Profissional de Organização</h3>
                        <!--end::Heading-->
                        <!--begin::List-->
                        <div class="text-gray-800 mb-5 text-center text-md-start">Market Place Ligando quem <strong>Procura</strong> com quem <br> <strong>Oferece</strong><br>. </div>
                        <!--end::List-->
                        <!--begin::Link-->
                        <a href="https://preview.keenthemes.com/html/metronic/docs" class="btn btn-hover-rise text-gray-900 text-uppercase fs-7 fw-bold" style="background-color: #EBEE51">Explorar</a>
                        <!--end::Link-->
                    </div>
                    <!--end::Wrapper-->
                </div>
                <!--end::Card body-->
            </div>
            <!--end::Card-->
        </div>
        <!--end::Col-->
    </div>
    <!--end::Row-->

    {% endblock page-content %}
