{% extends "core/base.html" %}
{% load static widget_tweaks i18n %}
{% block page-content %}
        {{ block.super }}

        




        <h2>Olá {{ user.name }}</h2>
        <div class="row">
            <div class="col-lg-4 lista-curadores">
                <h2>{% trans "Lista dos nossos Curadores Remunerados" %}</h2>
                    <a class="btn"
                        href="{% url 'agendamento:curador-remunerado-list' %}">
                        <h3>{% trans 'Conhecer nossos curadores ' %}</h3>
                    </a>
            </div>

            <div class="col-lg-4 lista-curadores">
                <h2>{% trans "Lista dos nossos Curadores atendendo Gratuitamente" %}</h2>
                <a class="btn"
                    href="{% url 'agendamento:curador-free-list' %}">
                    <h3>{% trans 'Conhecer nossos curadores ' %}</h3>
                </a>
            </div>

            <div class="col-lg-4 lista-curadores">
                <h2>{% trans "Visitar sua Área de Usuário" %}</h2>
                <a class="btn"
                    href="{% url 'agendamento:cliente-dashboard' %}">
                    <h3>{% trans 'Visitar minha Área' %}</h3>
                </a>
            </div>
        </div>
  {% endblock page-content %}
