{% extends "core/base.html" %}
{% load static widget_tweaks i18n %}
{% block page-content %}
    {{ block.super }}
    <h1 {{ user.name }}</h1>
<h3>{% trans "Histórico dos seus Atendimentos" %}</h3>
<div class="col-4 lista-passado">
    {% for passado in atendimentos_passados %}
        {{ passado }}
    </br>
{% endfor %}
</div>
<h3>{% trans "Atendimentos Correntes" %}</h3>
<div class="col-4 lista-corrente">
    {% for corrente in atendimentos_correntes %}
        {{ corrente }}
    </br>
{% endfor %}
</div>
</div>
{% endblock page-content %}
<div
