{% extends "core/base.html" %}
{% load static widget_tweaks i18n %}
{% block page-content %}
    <div class="container">
        <h2>{% trans "Lista dos nossos Curadores Free" %}</h2>
        <div class="lista-curadores">
            {% for curador in nao_remunerados %}
                <strong>{{ curador }}</strong>
                (atendimentos:{{ curador.curador_estatisticas.qt }})
                (média:{{ curador.curador_estatisticas.media }})
                </br>
                {% for especialidade in curador.curador_especialidades.all %}
                    {% if forloop.counter < 4 %}
                    </br>
                    -->{{ especialidade.especialidade }}
                    {% endif %}
                {% endfor %}

                </br>
                </br>
                <a class="btn"
                href="{% url 'agendamento:cliente-contratar-curador' curador.pk %}">Contratar</a>
                </br>
            {% endfor %}
    </div>
{% endblock page-content %}
<div
