{% extends 'core/base.html' %}
{% load static widget_tweaks i18n %}
{% block title %}
    {{ block.super }} - {% trans 'Redefinição de Senha' %}
{% endblock %}
{% block page-content %}
    <div class="">
        <div class="">
            <h3 class="">{% trans 'Redefinição de Senha' %}</h3>
        </div>
        <p class="">
            {% trans 'Você está acessando um formulário temporário para redefinição de senha do seu usuário.' %}
        </p>
        <p class="">
            {% trans 'Após redefiní-la, este link será expirado e você será capaz de logar novamente no sistema.' %}
        </p>
        <p class="">
            {% trans 'Por favor, digite sua nova senha.' %}
        </p>
        {% for message in messages %}<div class="alert {{ message.tags }}">{{ message }}</div>{% endfor %}
        <form method="post" class="" action="">
            {% csrf_token %}
            {% for error in form.non_field_errors %}<div class="alert alert-danger">{{ error }}</div>{% endfor %}
            <div class="">
                {% render_field form.new_password1 class="" placeholder=form.new_password1.label %}
                <span class="m-form__help">{{ form.new_password1.help_text }}</span>
                {% if form.new_password1.errors %}
                    <ul>
                        {% for error in form.new_password1.errors %}<li class="has-danger">{{ error }}</li>{% endfor %}
                    </ul>
                {% endif %}
            </div>
            <div class="">
                {% render_field form.new_password2 class="" placeholder=form.new_password2.label %}
                {% if form.new_password2.errors %}
                    <ul>
                        {% for error in form.new_password2.errors %}<li class="has-danger">{{ error }}</li>{% endfor %}
                    </ul>
                {% endif %}
            </div>
            <div class="m-login__form-action">
                <button type="submit" id="reset_password_submit" class="btn btn-success ">{% trans 'Enviar' %}</button>
            </div>
        </form>
    </div>
{% endblock %}
{% block page-extra-scripts %}
    <script src="{{ STATIC_URL }}js/core/disable-after-submit.js" type="text/javascript"></script>
{% endblock %}
