{% extends "core/base.html" %}
{% load static widget_tweaks i18n %}
{% load ratings %}
{% block page-content %}
{{ block.super }}
<h1> {{ user.name }}</h1> {{ user.pk}}

<h3><strong>{% trans "Atendimentos em Aberto" %}</strong></h3>
<div class="row lista-corrente">
    {% for corrente in atendimentos_correntes %}
        <div class="col-lg-8">
            <h5><i class="fa fa-user"></i>*<strong>{{ corrente.cliente }}</strong></h5>
            <span> Data do agendamento: {{corrente.data_agendamento }} </span>
            <a href="{% url 'curador:encerrar-atendimento' corrente.pk %}">encerrar</a>
            <p>{{corrente.anotacoes_curador}}</p>
        </div>
        </br>
    {% endfor %}
</div>
{% endblock page-content %}
