{% extends "core/base.html" %}
{% load static widget_tweaks i18n %}
{% load ratings %}
{% block page-content %}
{{ block.super }}
<h1> {{ user.name }}</h1> 
<h2>{% trans "Encerrar o Atendimento" %}</h2>
<h3>{% trans "Cliente: " %}<strong>{{atendimento.cliente}}</strong></h3>
<div class="container">
  <form method="POST">
  {% csrf_token %}

    <div class="row lista-passado">
        <div class="col-lg-8 lista-passado">
            <span> Data do agendamento: {{atendimento.data_agendamento }} </span>
            <br/>

            </br>
            <strong> Deseja fazer alguma anotação final?</strong>
            </br>
            {{form.anotacoes_curador}}
            <br/>
           <button type="submit" name="save_button" id="save_button" class="btn btn-success ">
              <span>
                  <span>{% trans 'Encerrar Atendimento' %}</span>

              </span>
          </button>

        </div>
    </div>
  </form>
</div>
{% endblock page-content %}
